@media screen and (min-width: 577px) {
    #min-sidebar {
        display: none;
    }

    #full-sidebar {
        display: flex;
    }

    header {
        left: 300px;
    }




}


@media screen and (min-width: 769px) {

    main .main-navbar a {
        font-size: 1rem
    }

    ;

    footer .volume,
    footer .album {
        width: 15%;
    }

    footer .player {
        width: 70%
    }



    footer .album .dt-d-flex {
        flex-direction: row;
    }

    .volume .fa-list,
    .volume .fa-display,
    .volume .fa-volume-high {
        margin-right: 10px;
    }
}