/* generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    height: 100vh;
}

/* roots */
:root {
    --bg-blue: #141922;
    --bg-gray: #282828;
    --bg-black: #000;
    --font-white: #fff;
    --font-gray: #a3a3a3;
    --empty-bar: #5a5a5a;
    --full-bar: #c1c1c1;
}

/*  utils */

.d-flex {
    display: flex;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.mb-30 {
    margin-bottom: 30px;
}

.ml-20 {
    margin-left: 20px;
}

.debug .borders {
    border: 1px solid red;
}

/* main */

main {
    height: calc(100vh - 100px)
}

.main-content {
    background-color: var(--bg-blue);
    overflow-y: auto;
    flex-grow: 1;
}

/* header */

header {
    position: fixed;
    left: 80px;
    right: 0;
    top: 0;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-btn {
    display: inline-block;
    height: 50px;
    padding: 0 35px;
    margin-right: 10px;
    line-height: 50px;

    font-size: 1rem;
    text-decoration: none;
    color: #fff;

    border: 2px solid #fff;
    border-radius: 30px;
}

/* main navbar */

main .main-navbar li {
    margin-bottom: 30px;
    padding: 5px;
}

main .main-navbar a {
    text-decoration: none;
    color: var(--font-white);
    font-size: 0.7rem;
}

main .main-navbar {
    max-width: 95%;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 130px;
    list-style-type: none;
}







/* sidebar */

#full-sidebar {
    flex-shrink: 0;
    background-color: black;
    width: 300px;
    overflow-y: hidden;

    display: none;

}

#full-sidebar .logo {
    height: 100px;
    width: 300px;
    align-items: center;
}

.full-sidebar-main-menu {
    margin-bottom: 30px;
}

.full-sidebar-logo {
    max-height: 50px;
}

.full-sidebar-search,
.full-sidebar-library,
.full-sidebar-home {
    display: block;
    height: 60px;

    color: var(--font-white);
    text-decoration: none;
    border-left: 4px solid #9DE82E;

    padding: 10px;
}

.full-sidebar-search img,
.full-sidebar-library img,
.full-sidebar-home img {
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.full-sidebar-search h4,
.full-sidebar-library h4,
.full-sidebar-home h4 {
    display: inline-block;
    position: relative;
    top: 4px;
}

.full-sidebar-search,
.full-sidebar-library {
    color: var(--font-gray);
    border-left: 4px solid transparent;
}


.full-sidebar-playlist h3 {
    color: var(--font-white);
    margin-bottom: 30px;
}

.full-sidebar-playlist .fa-plus {
    height: 50px;
    width: 50px;
    color: #000;
    background-color: var(--font-gray);
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    margin-right: 20px;
}

.full-sidebar-playlist .new-playlist {
    display: block;
}

.new-playlist span {
    display: inline-block;

    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--font-gray);

    position: relative;
    top: 4px;
}

.full-sidebar-list {
    list-style-type: none;
    overflow-y: auto;

    height: 30vh;
}

.full-sidebar-list li {
    margin-bottom: 20px;
}

.full-sidebar-list a {
    text-decoration: none;
    color: var(--font-gray);
    font-weight: 600;
}

.circle {
    color: var(--font-white);
    display: inline-block;
    height: 1.2rem;
    width: 1.2rem;
    border: 1px solid #fff;
    border-radius: 50%;
}

.circle .fa-arrow-down {
    padding-left: 2px;
}

.sidebar-profile {
    background-color: var(--bg-black);
    margin-bottom: 20px;
}

.sidebar-profile .profile {
    align-items: center;
}

.sidebar-profile figure {
    display: block;
    background-color: var(--font-gray);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.sidebar-profile h4 {
    display: inline-block;
    color: #fff;
    font-size: 1.3rem;
}

.sidebar-profile figure img {
    display: block;
    height: 43px;
    width: 43px;
    padding-left: 7px;
}

.sidebar-profile a {
    display: inline-block;
    color: var(--font-gray);
    margin-bottom: 10px;
}

.sidebar-profile hr {
    margin-bottom: 10px;
    margin-right: 20px;
}

#min-sidebar {
    width: 80px;
    background-color: var(--bg-black);


}

.min-sidebar-search,
.min-sidebar-library,
.min-sidebar-home {
    display: block;
    height: 60px;
    padding: 10px;
}

.min-sidebar-search img,
.min-sidebar-library img,
.min-sidebar-home img {
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    margin-bottom: 30px;
}

#min-sidebar .profile img {
    display: block;
    background-color: var(--font-gray);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#min-sidebar .profile {
    align-items: center;
    justify-content: center;
}



/* footer */

footer {
    height: 100px;
    background-color: var(--bg-gray);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.volume,
.album {
    height: 100%;
    width: 25%;

}

.player {
    height: 100%;
    width: 50%;
    min-width: 250px;

}

footer img {
    height: 40px;
    margin-left: 10px;
    margin-right: 5px;
}

footer .album {
    height: 100%;
    width: 25%;
    align-items: center;
    font-size: 0.8rem;
    color: var(--font-white);
    font-weight: 600;
    justify-content: space-between;
}

footer .album span {
    color: var(--font-gray);
    font-size: 0.7rem;
}

footer .fa-folder,
footer .fa-heart {
    color: var(--font-gray);
    font-size: 1rem;
    margin-left: 10px;
    margin-top: 5px;
}

footer .player {
    align-items: center;
    text-align: center;
}

footer .player-bar {
    color: var(--font-white);
    font-size: 1.3rem;
    height: 1.3rem;
    margin-top: 20px;
}

footer .player-bar .fa-shuffle,
footer .player-bar .fa-backward-step,
footer .player-bar .circle,
footer .player-bar .fa-forward-step {
    margin-right: 30px;
}

footer .player-bar .circle {
    height: 1.95rem;
    width: 1.95rem;

    border: 2px solid #fff;
    padding-left: 4px;
    padding-top: 1px;

    position: relative;
    bottom: 5px;
}

footer .progress-bar {
    justify-content: center;
    width: 70%;
    align-items: center;
    color: #fff;
    font-size: 0.8rem;

}

footer .empty-bar {

    display: inline-block;
    height: 4px;
    width: 80%;

    background-color: var(--empty-bar);
    margin: 25px 5px;

    position: relative;

    border-radius: 5px;
}

footer .full-bar {
    display: inline-block;
    height: 100%;
    width: 10%;

    background-color: #fff;

    position: absolute;
    left: 0;
    top: 0;

    border-radius: 5px;
}

footer .volume {
    flex-wrap: nowrap;
    color: #fff;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.8rem;
}

footer .volume .volume-bar {
    display: inline-block;
    width: 50%;
    align-items: center;

}

.volume .fa-list,
.volume .fa-display,
.volume .fa-volume-high {
    margin-right: 5px;
}